-e git+https://github.com/JamesMcFadden/ab-test-online-ads.git@d2280805f420325b897e8de3e0fe9115d28d750c#egg=ab_test_online_ads
astroid==4.0.2
black==25.11.0
click==8.3.1
dill==0.4.0
flake8==7.3.0
isort==7.0.0
librt==0.6.3
mccabe==0.7.0
mypy==1.19.0
mypy_extensions==1.1.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
patsy==1.0.2
platformdirs==4.5.0
pycodestyle==2.14.0
pyflakes==3.4.0
pylint==4.0.4
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
scipy==1.16.3
six==1.17.0
statsmodels==0.14.5
tomlkit==0.13.3
typing_extensions==4.15.0
tzdata==2025.2
